<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.liyuan" scope-resolver="com.liyuan.scopeResolution.MyScopeMetaResolver"/>
    <!--    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">-->
    <!--        <property name="basename" value="i18n"/>-->
    <!--        <property name="defaultEncoding" value="utf-8"/>-->
    <!--    </bean>-->

    <!--    <bean class="com.liyuan.beans.SimpleMovieCatalog">-->
    <!--        <qualifier type="com.liyuan.myqualifier.Offline"/>-->
    <!--    </bean>-->
    <bean class="com.liyuan.controller.MappingController" id="mappingController2"/>
    <bean id="profilingAspect" class="com.liyuan.aspect.ProfilingAspect"/>
    <aop:aspectj-autoproxy/>
    <context:load-time-weaver/>


    <bean class="org.springframework.aop.support.JdkRegexpMethodPointcut" id="jdkRegexpMethodPointcut">
        <property name="patterns">
            <list>
                <value>.*set.*</value>
                <value>.*absquatulate</value>
            </list>
        </property>


    </bean>
    <bean id="helloController$2" class="com.liyuan.controller.HelloController">
    </bean>

    <bean id="person" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces" value="com.liyuan.model.Person"/>
        <property name="target">
            <bean class="com.liyuan.model.PersonImpl">
                <property name="age" value="19"/>
                <property name="name" value="liyuan"/>
            </bean>
        </property>
        <property name="interceptorNames">
            <list>
                <!--                <value</value>-->
                <!--                <value>debugInterceptor</value>-->
            </list>
        </property>
    </bean>


    <bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="emailService"/>
        <property name="interceptorNames">
            <list>
                <value>global*</value>
            </list>
        </property>
    </bean>
    <bean id="global_debug" class="com.liyuan.aop.DebugInterceptor"/>
    <bean id="global_performance" class="org.springframework.aop.interceptor.PerformanceMonitorInterceptor"/>


    <bean id="txProxyTemplate" abstract="true"
          class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager" ref="transactionalManager"/>
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    <bean parent="txProxyTemplate">
        <property name="target">
            <bean class="com.liyuan.lookupmthodinjection.ClientServiceImpl"></bean>
        </property>
    </bean>
</beans>